<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mavis Inventory Scanner - Appium Test Suite" verbose="1">

    <!-- Schedules a fresh inventory run before executing tests -->
    <parameter name="TEST_STORE" value="30"/>
    <parameter name="SCHEDULE_IF_NEEDED" value="true"/>

    <!-- Tire E2E - Solo inventory (PC=2 only) -->
    <test name="Tire E2E">
        <parameter name="INVENTORY_PCS" value="2"/>
        <classes>
            <class name="com.mavis.scanner.functional.InventoryEndToEndTest">
                <methods>
                    <include name="testCompleteTireInventoryFlow"/>
                </methods>
            </class>
        </classes>
    </test>



    <!-- Parts E2E - Combined inventory (multiple PCs, no tire) -->
    <test name="Parts E2E">
        <parameter name="INVENTORY_PCS" value="62,65,86,188"/>
        <classes>
            <class name="com.mavis.scanner.functional.InventoryEndToEndTest">
                <methods>
                    <include name="testCompletePartsInventoryFlow"/>
                </methods>
            </class>
        </classes>
    </test>



    <test name="Negative Test - Tire Inventory">
        <parameter name="INVENTORY_PCS" value="2"/>
        <classes>
            <class name="com.mavis.scanner.functional.NegativeTest">
                <methods>
                    <include name="testLoginStoreOnlyFilled"/>
                    <include name="testLoginSpecialCharactersInStore"/>
                    <include name="testLoginVeryLongStoreNumber"/>
                    <include name="testLoginLeadingZeros"/>
                    <include name="testScanInvalidBarcodeFormat"/>
                    <include name="testScanItemWithoutOpenSection"/>
                    <include name="testAddNonExistentItemNumber"/>
                    <include name="testAddItemWithZeroQuantity"/>
                    <include name="testManualCountMismatch"/>
                    <include name="testCloseSectionWithZeroItems"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Negative Test - Parts Inventory">
        <parameter name="INVENTORY_PCS" value="65,188"/>
        <classes>
            <class name="com.mavis.scanner.functional.NegativeTest">
                <methods>
                    <include name="testPartsScanInvalidBarcodeFormat"/>
                    <include name="testPartsScanItemWithoutOpenSection"/>
                    <include name="testPartsAddNonExistentItemNumber"/>
                    <include name="testPartsAddItemWithZeroQuantity"/>
                    <include name="testPartsManualCountMismatch"/>
                    <include name="testPartsCloseSectionWithZeroItems"/>
                </methods>
            </class>
        </classes>
    </test>




    <test name="Delete Item Test - Tire Inventory">
        <parameter name="INVENTORY_PCS" value="2"/>
        <classes>
            <class name="com.mavis.scanner.functional.ItemManagementTest">
                <methods>
                    <include name="testTireScanItemThenDelete"/>
                    <include name="testTireManualAddThenDelete"/>
                    <include name="testTireCancelDelete"/>
                    <include name="testTireScanMultipleThenDeleteAll"/>
                    <include name="testTireMixedAddThenDeleteBoth"/>
                </methods>
            </class>
        </classes>
    </test>



    <test name="Item Management - Parts">
        <parameter name="INVENTORY_PCS" value="62,65,86,188"/>
        <classes>
            <class name="com.mavis.scanner.functional.ItemManagementTest">
                <methods>
                    <include name="testPartsScanItemThenDelete"/>
                    <include name="testPartsManualAddThenDelete"/>
                    <include name="testPartsMixedAddThenDeleteBoth"/>
                    <include name="testPartsCancelDelete"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="Tire Invenotry With All Store Sections">
        <parameter name="INVENTORY_PCS" value="2"/>
        <parameter name="TEST_STORE" value="4541"/>
        <classes>
            <class name="com.mavis.scanner.functional.SectionUploadVerificationTest">
                <methods>
                    <include name="testPartsSectionScanAndUploadVerification"/>
                </methods>
            </class>
        </classes>

    </test>


</suite>
