<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mavis Inventory Scanner - Appium Test Suite" verbose="1">

    <!-- Schedules a fresh inventory run before executing tests -->
    <parameter name="TEST_STORE" value="30"/>
    <parameter name="SCHEDULE_IF_NEEDED" value="true"/>

    <!-- Tire E2E - Solo inventory (PC=2 only) -->
    <test name="Tire E2E">
        <parameter name="INVENTORY_PCS" value="2"/>
        <classes>
            <class name="com.mavis.scanner.functional.InventoryEndToEndTest">
                <methods>
                    <include name="testCompleteTireInventoryFlow"/>
                </methods>
            </class>
        </classes>
    </test>



    <!-- Parts E2E - Combined inventory (multiple PCs, no tire) -->
    <test name="Parts E2E">
        <parameter name="INVENTORY_PCS" value="62,65,86,188"/>
        <classes>
            <class name="com.mavis.scanner.functional.InventoryEndToEndTest">
                <methods>
                    <include name="testCompletePartsInventoryFlow"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
